body {
  font-family: Arial, sans-serif;
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

button {
  cursor: pointer;
  background-color: #f44336;
  color: white;
}

img {
  border-radius: 50%;
}

.match {
  background-color: #2c2c2c;
  margin: 5px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}
